captions_train2014.json
captions_val2014.json
instances_train2014.json
instances_val2014.json
data/alexnet.npz
data/INRIA_holidays
data/cifar10
results/*
*__pycache__*
*.pyc
utils/vae_evaluate.py
!models/extractors
!models/mlmo
